body[b-5vyv8w437b] {
}
input[type=number][b-5vyv8w437b]{
    width:10%;
}
label[b-5vyv8w437b]{
    margin-left: 10px;
}
form span[b-5vyv8w437b] {
    margin-left: 10px;
    font-size:20px;
}
.filters *[b-5vyv8w437b]{
    margin-left:10px;
}
.filters[b-5vyv8w437b] {
    margin:auto
}